{% extends 'base.html' %}

{% block title %}О компании{% endblock %}

{% block main %}

<div class="company">
  <center><a href="/main_list"> Каталог </a><a href="#">-- Компании</a></center>

  <br>
  <br>
  
  <h2>О компании:</h2>
  <br>
  <p>Проект  создан и принадлежит ООО "СкадаСистемы".
  <br>
  Компания СкадаСистемы создана для помощи российским производителям программного обеспечения в разработке,
  <br>
  совершенствовании и выведении на
  рынок программных продуктов для промышленной автоматизации.
  <br>
  Команда работает на рынке более 10 лет. 
  <br>
  Сотрудничаем с проверенными производителями, товары которых соответствуют
  спросу.</p>
  <br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}